.grid-container {
    padding: 0;
    margin: 28px 0 9px 0;
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 }
 
 .grid-item {
    background: #ffc857;
    margin: 10px;
    text-align: center;
    color: #1b1207;
    line-height: 1.5em;
    border-radius: 8px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 2);
    transition: 0.4s;
 }  

 .grid-item:hover {
   box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 2);
 }

 .img1 {
    border-radius: 28px;    
    padding: 8px;
    width: 147px;
    height: auto;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 2);
 }

 .subheader {
   font-size: 1em;
   background-color: #79c9e9;
   padding: 10px;
   color: #78afd4
 }

 .header-3 {
    padding: 3px;
    font-size: 0.95em;
 }

 p {
    padding: 10px;
    color: #080101;
    font-size: 0.85em;
    line-height: 1.2em;
 }

 .web-link a {
   background-color: aquamarine; 
   color: #230f79; 
   padding: 10px; 
   text-align: center; 
   display: inline-block;
   text-decoration: none; 
   font-size: 0.90em;
   cursor: pointer; 
   border-radius: 8px;
   margin-bottom: 17px;
 }

 @media only screen and (min-width: 30.5em) {
    .img1 {
       width: 200px;
       height: auto;

    }
 }
