body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#div_1 {
    width: 53%;
    margin: 0 auto;
}
#head {
    background-color: darkred;
    color: blue;
    font-size: 2em;
    padding: 1.2em;
    line-height: 1.4em;
    text-align: center;
    border-radius: 11px;
}

h2 {
    font-size: 1.7em;
    line-height: 1.5em;
    color: blueviolet;
}

#Picture {
    position: relative;
    float: right;
    width: 152px;
    max-width: 82S%;
    top: 16px;
    height: 202px;
    margin-right: 14px;
    box-shadow: 0 5px 8px 0 #353535, 0 5px 21px 0 #35355;
}

footer {
    background-color: darkred;
    padding: 2em;
    color: blue;
    text-align: center;
    font-size: 0.7em;
    line-height: 1.5em;
    border-radius: 13px;
}

footer a {
color: black;
}

#lastUpdated {
    color: blue;
}
#copyright {
    color: blue;
    font-size: 15px;
}

#currentDate {
    color: blue;
}