body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#div_1 {
    width: 52%;
    max-width: 0 auto;
}
h1 {
    background-color: brown;
    color: rgb(93, 22, 206);
    font-size: 2.5em;
    line-height: 2em;
    padding: 1.3em;
    text-align: center;
    border-radius: 9px;
}
section {
    font-size: 1.5em;
    line-height: 1.02em;
   color: black;
   text-align: center;

}

a{
    color:black;
}
#Picture{
position: relative;
float: right;
width: 150px;
height: 140px;
max-width: 81%;
top: 16px;
box-shadow: 0 5px 9px 0 #353535, 0 7px 21px 0 #353535;
}

#section id {
    text-align: center;
}

footer{
    background-color: brown;
    padding: 1.01em;
    color: black;
    font-size: 0.8em;
    text-align: center;
    line-height: 1.4em;
    border-radius: 7px;
}

footer a {
    color: black;
}

#lastUpdated {
    color: black
}