@import url(https://fonts.google.com/specimen/Mansalva?selection.family=Mansalva);
   
body {
    margin-top: 4px;
    font-size: 1.2em;
    font-family: fantasy;
    padding: 0;
    background-color: #85450a;
    color: #024059;
}



header, footer {
    background-color: #d84c15;
    text-align: center;
    border: 2.2px solid #024059;
    max-width: 767px;
    margin: 0 auto;  
}

main {
    max-width: 758px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 14px;
    font-size: 2.2rem;
        
}

article:nth-child(3){
    grid-column: span 1;
}



#column1, #column2, #column3, .columnImage {
    display: inline-block;
    padding-bottom: 8px;
    text-align: center;
    
}


    

.columnImage {
    border-radius: 8px;
    background-color: #d4e6ee;
    margin: 0px;
    border: 1px solid #024059;

}

.columnImage p {
    display: block;
    font-size: .75rem;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    background-color: #d4e6ee;
    
}

.columnImage h2 {
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0px;
    padding: 5px;
    padding-bottom: 8px;
    text-align: center;
    height: 2.5rem;
}

.columnImage h3 {
    padding: 13px;
    font-weight: bold;
}

img { /* maybe change to main img or something*/
    height: auto;
    width: 50%; 
    border: 1px solid #6b5cc5;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;    
    box-shadow: 0 0 20px 0 rgba(223, 99, 99, 0.897), 0 2px 2px 0 rgba(243, 111, 111, 0.24);   
}

h1, h2, h3, h4, h5, h6 {
    font-family: fantasy, serif;
    margin: 0;
}

h1 {
    font-size: 1.3rem;
    color: #a13039;
    /*height: 7vh;*/
}

h2 {
    font-size: 1.25rem;
    color: #da8210;
    padding: 0 0 8px 0;
    text-align: left;   
}

h3 {
    font-size: 1rem;
    color: #025909;
}

ul li a:link {
    color: #3728be;
    text-decoration: none;
}

ul li a:visited {
    color: indigo;
}

ul li a:hover {
    color:  darkgoldenrod;
}
ul li a:active {
    color: khaki;
}

a:link {
    color: #e7f1f5;
    text-decoration: none;
}

a:visited {
    color: indigo;
}

a:hover {
    color:  darkgoldenrod;
}
a:active {
    color: khaki;
}

    

footer {
    padding: 10px;
    /*height: 60px;*/  /* removing this worked to allow the page elements to nest under each other properly! */
    font-size: 20px;
    line-height: 4px;
    color: #96360a;
}
#copyright {
    color:#d7d5df;
    font-size: 20px;
}
#currentDate {
    color: #e6ecf0;
}
