@import url(https://fonts.google.com/specimen/Mansalva?selection.family=Mansalva);
   
body {
    margin-top: 5px;
    font-size: 1.1em;
    font-family: fantasy, sans-serif;
    padding: 0;
    background-color: #f1f5f7;
    color: #024059;
}

header, footer {
    background-color: #36768e;
    text-align: center;
    border: 1px solid #024059;
    max-width: 500px;
    margin: 0 auto;
   
   
}


    

main {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    font-size: 0.8rem;
        
}

article:nth-child(3){
    grid-column: span 1;
}



#column1, #column2, #column3, .columnImage {
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
    
}


    

.columnImage {
    border-radius: 10px;
    background-color: #d4e6ee;
    margin: 0px;
    border: 1px solid #024059;

}

.columnImage p {
    display: block;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    background-color: #f56032;
    
}

.columnImage h2 {
    background-color: rgb(164, 9, 202);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px;
    padding: 5px;
    padding-bottom: 10px;
    text-align: center;
    height: 3rem;
}

.columnImage h3 {
    padding: 13px;
    font-weight: bold;
}

img { 
    height: auto;
    width: auto; 
    border: 1px solid #024059;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;    
     
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

h1 {
    font-size: 2rem;
    color: #024059;
    
}

h2 {
    font-size: 3rem;
    color: #010608;
    padding: 0 0 7px 0;
    text-align: left;   
}

h3 {
    font-size: 2rem;
    color: #024059;
}

ul li a:link {
    color: #024059;
    text-decoration: none;
}

ul li a:visited {
    color: indigo;
}

ul li a:hover {
    color:  darkgoldenrod;
}
ul li a:active {
    color: khaki;
}

a:link {
    color: #024059;
    text-decoration: none;
}

a:visited {
    color: indigo;
}

a:hover {
    color:  darkgoldenrod;
}
a:active {
    color: khaki;
}


footer {
    padding: 10px;
    font-size: 17px;
    line-height: 4px;
    color: #fcf7f5;
}
#copyright {
    color:#020008;
    font-size: 25px;
}
#currentDate {
    color: #000508;
}
