@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

body {
    margin-top: 10px;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: #f1f5f7;
    color: #024059;
}

header, nav, main, footer {
    margin: 0 auto;     /* if probs change 1 rem to 0 auto; this centers the page*/
    max-width: 760px;
}

header, footer {
    background-color: #36768e;
    text-align: center;
    border: 1px solid #024059;
}

header {
    /*height: 100px; */
    /* removing this worked to allow the page elements to nest under each other properly! */
}

main {
    padding: 25px;
    max-width: 740px;
}

img {
    /* maybe change to main img or something*/
    height: auto;
    border: 1px solid #024059;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    color: #024059;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    padding: 0;
}

h2 {
    font-size: 1rem;
    margin: 0;
}

ul li a:link {
    color: #024059;
    text-decoration: none;
}

ul li a:visited {
    color: indigo;
}

ul li a:hover {
    color: darkgoldenrod;
}

ul li a:active {
    color: khaki;
}

a:link {
    color: #024059;
    text-decoration: none;
}

a:visited {
    color: indigo;
}

a:hover {
    color: darkgoldenrod;
}

a:active {
    color: khaki;
}

hr {
    background-color: #024059;
    height: 1px;
    border: 0;
    padding: 0px;
    margin: 0px;
}

footer {
    padding: 5px;
    /*height: 60px;*/   /* removing this worked to allow the page elements to nest under each other properly! */
    font-size: 14px;
    /*line-height: 5px;*/    /* having this in footer causes the date to scrunch up all over itself" */
    color: #f1f5f7;
}

#copyright {
    color: #f1f5f7;
    font-size: 14px;
}

#currentDate {
    color: #f1f5f7;
}