@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');


* { 
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
} 

/* --------------- HEADER/HEADINGS ---------------*/

h1 {
    font-family: 'Rajdhani', sans-serif;
    padding-top: 70px;
    font-size:  4rem /* (rem is a unit of measure) */;
    color:  #000 ;
    padding-bottom: 20px;
    text-align: center;
}

h2, h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.5rem ;
    text-align: center;
    border-bottom: 3px solid #000;
}

h3 {
    font-size: 1.2rem ;
}

.heading {
    margin-top: -19px;
    font-size:  4rem;
    color:  #000 ;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 3px #006666; 
    position: fixed;
    left: 0;
    top: 0;
}

.navBar {
    z-index:99;
}

/* --------------- FOOTER ------------------------*/

footer { /* Fixed footer, stays on bottom where I want it.  */
    font-size: 24px;
    background-color: #5d6808;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 24px;
}

footer a{
    text-decoration: none;
    background-color: inherit;
}

.contact { /* Fixed above footer */
    font-size: 17px;
    background-color: #4465a2;
    position: fixed;
    left: 0;
    bottom: 31px;
    width: 100%;
    font-size: 14px;
    LINE-HEIGHT:20px;
    font-family: Ubuntu, sans-serif ;
}

/* --------------- MULTIPLE ----------------------*/

header, main, footer {
    max-width:  100% /*(px = pixel is a unit of measure)  */;
}

header, footer, footer a {
    position: fixed;
    text-align: center;
    color: whitesmoke;
    z-index:99;
}

/* --------------- BODY --------------------------*/

body { 
    display: grid;
    padding-top: 70px; /* compensates for fixed header/nav bar */
    margin-top: 100px;
    font-size: 20px; 
    line-height: 32px;
    font-family: Ubuntu, sans-serif ;
    color: #000 ;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
}

li {
    padding-left: 20%;
}

article{
    float: left;
    padding: 10px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    object-position: right;
    object-fit: cover;
}

.main{
    padding-top: 0px;
    padding-bottom: 100px;
    display: grid;
    grid-template-rows: 1fr 0fr;
    grid-gap: 0px;
    z-index: -3;
}

.endSpace{
    display:grid;
    position: relative;
    border: 1px solid transparent;
    padding-bottom: 20px;
}

aside { 
    float: right;
    right: 0;
    width: 410px;
    padding-left: 10px;
    z-index: -5;
    padding-right: 5px;
}

.story { 
    display: grid;
    float: left;
    text-align: justify;
    background-color: rgba(215, 225, 215, 0.8);  
    padding: 20px;
    border-color: rgba(0,0,0,0);
}

.storyAlt { 
    display: grid;
    float: left;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.2); /* white (#FFFFFF) with opacity/alpha level (a) at the end */
    padding: 20px;
    border-color: rgba(0,0,0,0);
}

section { 
    border-bottom-color: rgba(0,0,0,0);
    z-index: -12;
    width: 100%;
    margin: auto;
}

details { 
    display: grid;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding-top: 20px;
}

/* --------------- TABLES & Forms -----------------------*/

table {
    margin: auto;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

th { 
    font-family: 'Rajdhani', sans-serif;
    background: rgba(163,163,163,0.7); 
    color: aliceblue; 
}

tbody tr {
    background-color: rgba(240,240,240,0.7);
}

tr:nth-child(even) {
    background-color: rgba(210,210,210,0.7);
}

form {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

form input{
    width: 100%;
    background-color: rgba(255,255,255,0.7);
}

form .L50{
    width: 49%;
    text-align: left
}

form .gridIn{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.submit {
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(12,50,105,0.7);
    color: #fff;
}

/* --------------- BACKGROUND -------------------*/

.backImg{
    height: 100%;
    background-size: cover;
    background-repeat:repeat-y;
    background-position: center center;
    
    position: fixed;
    display: inline-block;
    
    z-index: -50;
    top: 60px;
    padding: 0;
}

.headBack {
    background-color: #5d6808; 
    height: 85px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
}

/* --------------- IMAGES ------------------------*/

figure {
    background-color: rgba(255, 255, 255, 0.3); /* white */
}

.rightImg{
    float: right;
    width: 100%;
    height: auto;
}

header img {
    object-position: left;
    top: 0px;
    left: 90px;
    position: relative;
    width: 120px;
    height: 95px;
    opacity: 0.8;
}