@media only screen and (min-width: 960px)  { 



    /*------------------------------Main Sections-------------------------*/  

    h3 {

        text-align: center;

    }

    

    main {

        margin-top: 60px;

    }



    .servicemain {

        margin-top: 110px;

    }



    .reservationmain {

        margin-top: 80px;

    }



    .templemain {

        margin-top: 110px;

        padding-right: 10px;

        padding-left: 10px;

    } 



    .missionarymain {

        margin-top: 110px;

    }



    .receptionmain {

        margin-top: 110px;

    }



    .contactmain {

        margin-top: 80px;

    }



    .meridianmain {

        margin-top: 110px;

    }



    .jordanmain {

        margin-top: 110px;

    }



    .seattlemain {

        margin-top: 110px;

    }

    

    .snowflakemain {

        margin-top: 110px;

    }



    .referencemain {

        margin-top: 110px;

    }



    .thanksmain {

        margin-top: 180px;

        margin-bottom: 80px;

    }



    .commentmain {

        margin-top: 180px;

        margin-bottom: 80px;

    }

  

    .call {

        width: 300px;

        font-size: 25px;

        left: 770px;

        top: 130px;

    }

    /*-------------------Temple Page--------------------------------------*/

    .templeinfo {

        float: right;

        margin-right: 30px;

        margin-left: 10px;

    }



    .templeinfo h3 {

        font-size: 18px;

    }



    .temples img {

        margin-top: 4px;

        margin-left: 4px;

        display: unset;

    }



    .temples {

        font-size: 13px;

        display: block;

        margin: 0 auto;

        margin-top: 20px;

        margin-bottom: 50px;

    }



    .temples:hover {

        box-shadow: 0 0 25px #333;

    } 

    /*-------------------------------Individual Temples----------------------------------------*/

    .meridian {

        display: grid;

        grid-template-columns: 90px 90px 90px 90px;

        grid-gap: 0;

        grid-area: auto;

        margin-left: 60px;

    }



    .jordan {

        display: grid;

        grid-template-columns: 100px 100px 100px 100px 100px;

    }



    .seattle {

        display: grid;

        grid-template-columns: 100px 100px 100px 100px;

        margin-left: 40px;

    }



    .snowflake {

        display: grid;

        grid-template-columns: 100px 100px 100px 100px;

        margin-left: 40px;

    }



    .meridian div {

        display: block;

        margin: 0 auto;

        padding: 5px;

    }



    .jordan div {

        display: block;

        margin: 0 auto;

    }



    .seattle div {

        display: block;

        margin: 0 auto;

    }



    .snowflake div {

        display: block;

        margin: 0 auto;

    }



    .meridianmain img {

        display: block;

        margin: 0 auto;

    }



    .jordanmain img {

        display: block;

        margin: 0 auto;

    }



    .seattlemain img {

        display: block;

        margin: 0 auto;

    }



    .snowflakemain img {

        display: block;

        margin: 0 auto;

    }

    /*------------------------------------------Header-----------------------------------------*/

    header {

        position: fixed;

    }



    .headerimage {

        width: 60px;

        height: 60px;

    } 



    .motto {

        position: static;

        margin-bottom: 0;

    }



    header h1 {

        position: static;

    }



    .reference:visited {

        color: #dda15e;

    }



    .homepage {

        display: block;

        margin: 0 auto;

        width: 500px;

    }



    .homepage div {

        display: flex;

        flex-direction: column;

        margin: 5px;

    }



    .homepage h4 {

        margin: 0 auto;

    }



    /*-------------------------------------- Navigation Menu ----------------------------------*/

    .menu li:first-child {

        display: none;

    }



    nav {

        display: flex;

        justify-content: flex-end;

        position: relative;

        left: 100px;

        top: 34px;

    }



    .menu li {

        display: block;

        flex: 1 1 auto;

        padding-left: 20px

    }



    .menu li a {

        font-size: 20px;

        text-align: right;

    }



    .menu {

        flex-direction: row;

    }



    li a, .dropbtn {

        display: inline-block;

        color: white;

        text-align: center;

        padding: 14px 16px;

        text-decoration: none;

      }

      

      li.dropdown {

        display: inline-block;

      }

      

      .dropdown-content {

        display: none;

        position: absolute;

        background-color: #4d572d;

        min-width: 250px;

        z-index: 1;

      }

      

      .dropdown:hover .dropdown-content {

        display: block;

      }

    /*-------------------------------Contact Info------------------------*/

    .contactinfo {

        display: flex;

        align-content: space-around;

        width: 100%;

    }



    .contactinfo p {

        padding: 5px;

        display: flex;

    }



    .contactinfo h4 {

        padding: 5px;

        display: flex;

        text-align: center;

    }



    .map {

        width: 300px;

        height: auto;

        padding: 10px;

    }



    /*-----------------------------------Footer------------------------------------*/

    footer{

        width: 101%;

        display: block;

        clear: right;

        padding-bottom: 8px;

    }



    footer p {

        font-size: 16px;

    }



    footer div {

        font-size: 16px;

        margin-top: 5px;

    }



    /*--------------------------------Thank You HTML-----------------------------------*/

    .title {

        font-size: 40px;

        margin: 169px;

    }



    textarea {

        height: 160px;

        width: 100%;

    }



    .personal {

        width: 30%;

    }



    .storminfo {

        width: 60%;

    }



    .right {

        width: 80%;

    }



    .info {

        display: grid;

        grid-template-columns: 400px;

        margin: 0 auto;

        width: 100%;

    }



    legend {

        font-size: 20px;

    }



    .button {

        width: 30%;

        display: block;

        margin: 0 auto;

        margin-top: 10px;

    }



    /*---------------------------------Home Page---------------------------*/

    .hero img {

        width: 100%;

    }



    .servicesection {

        display: grid;

        grid-template-columns: 1fr 1fr;

        grid-gap: 0;

        margin: 20px;

    }



    .services {

        margin-left: 90px;

        padding: 20px;

    }



    .amenities {

        padding: 20px;

    }



    .slideshow {

        max-width: 500px;

    }



    .mySlides {

        width: 100%;

        margin: 50px;

    }



    .missionarymain section {

        display: grid;

        grid-template-columns: 700px 500px;

        grid-gap: 0;

    }



    .mission {

        width: 700px;

        position: absolute;

        bottom: 100px;

        left: 600px;

    }



    .suites {

        margin: 20px;

    }



    .suites p {

        width: 650px;

    }



    .suites img {

        float: right;

        margin-bottom: 20px;

    }



    .missioncontact {

        width: 620px;

    }



    .missionbutton {

        width: 150px;

    }



    .reception img {

        margin: 20px;

        margin-left: 50px;

        display: unset;

    }



    .reception h3 {

        font-size: 25px;

        margin: 0;

        padding-top: 20px;

    }



    .p {

        width: 650px;

        float: right;

        margin-right: 100px;

    }



    .form {

        margin-left: 40px;

    }



    .homeart {

        width: 650px;

        position: absolute;

        left: 650px;

        bottom: -320px;

        border-style: double;

        border-width: 3px;

        border-color: #333;

    }

  }