body {
    font-family: 'Crete Round', serif, sans-serif;
    margin: 0 auto;
    background-color:rgba(255, 242, 94, 0.158);
}
header, footer {
    background-color: #46B1C9;
    display: flex;
    align-items: center;
    justify-content: center;
	padding: 5px 0;
}

header img {
	width: 80%;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

main, footer {
    align-self: center;
    margin: 0 auto;
}
main {
    display: flex;
    flex-flow: column;
    padding: 1px;
}

h1{
    font-size: 2em;
    color: #FFF15E;
    font-family: 'Patua One', cursive, sans-serif;
}

h2 {
    font-size: 1em;
    color: #C62B2B;
    font-family: 'Patua One', cursive, sans-serif;
}

h3 {
    color: #C62B2B;
}

main h2 {
    text-align: center;
}

header h2 {
    font-size: 0.7em;
    margin-left: 20px;
}

.contentbox {
    border: solid;
    margin: 10px;
    padding: 5px;
    border-color: #C62B2B;
    text-align: center;
}

p, table, nav {
    font-size: 0.7em;
}

main,
footer,
header,
nav{
    width: 100%;
}

footer {
    padding: 1px;
    color: #FFF15E;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.3em;
}

footer a {
    color: #C62B2B;
}

nav {
    background-color: #46B1C9;
    margin: 0px;
    border-top: solid #C62B2B;
}
.menu-ul {
	list-style: none;
	text-align: center;
    padding: 0;
    margin: 0 auto;
}
.menu-ul li:first-child {
	display: block;
}
.menu-ul li {
	display: none;
}
.menu-ul a {
	display: block;
	color: #FFF15E;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.menu-ul a:hover {
	background-color: #FFF15E;
    color: #C62B2B;
	font-weight: 700;
}
.active {
    background-color: #FFF15E;
}

.menu-ul .active a{
    color: #C62B2B;
}

.bannerSummary {
    position: relative;
    margin: 4px;
    border: 1px solid #46B1C9;
    max-height: 100%;
    min-height: 200px;
}
  
.bannerSummary img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 200px;
    padding: 0;
    margin: 0 auto;
}
  
.bannerSummary h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
.bannerSummary-content table {
    border: none;
    width: 100%;
}
  
.bannerSummary-content table td:first-child {
    text-align: right;
}
  
.bannerSummary-content table td:nth-child(2) {
    width: 45%;
    color: #FFF15E;
}
  
.bannerSummary-content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.bannerSummary-content-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 4px;
}
  
.text-align-right {
    text-align: right;
}
  
.weather-summary {
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(70, 177, 201, 0.767);
    width: 180px;
    color: #C62B2B;
    padding: 10px;
    box-shadow: 0 0 2px 1px rgba(222, 242, 241, 0.7);
}
  
.weather-summary h3 {
    border-bottom: 1px solid #FFF15E;
}
  
.contentBox {
    border: solid 1px #46B1C9;
    margin: 4px;
    background-color: #FFF15E;
}
  
.five-day-forecast {
    border: none;
    display: none;
    background-color:rgba(255, 242, 94, 0.158);

}
  
.five-day-forecast img {
    width: 80px;
    height: 80px;
}
  
.five-day-forecast table {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #46B1C9;
    border-collapse: collapse;
}
  
.five-day-forecast table td {
    border: 1px solid #46B1C9;
    border-collapse: collapse;
    text-align: center;
    padding: 4px;
}
  
.five-day-forecast table th {
    background-color: #46B1C9;
    color: #C62B2B;
    padding: 4px;
}
  
.article-content h3 {
    padding: 0;
    margin: 0;
}
  
.article-image {
    min-width: 300px;
    min-height: 300px;
}
  
.google-map {
    order: 2;
    display: none;
}
  
.main-contact-info {
    order: 1;
}
  
.contact-info {
    margin: auto auto;
}
  
.contact-info img {
    width: 48px;
    height: 48px;
}
  
.contact-info h3,
.contact-info p {
    margin: 0;
    padding: 2px;
}

#friday-banner {
    position: absolute;
    display: none;
    color: #ffff00;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    top: 1px;
    background: rgba(23, 37, 42, 0.2);
    width: 100%;
}

.responsive li {
	display: block;
}

.gallery-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    position: relative;
    margin: 20px;
}

div.gallery-div picture {
    text-align: center;
    background-color:rgba(255, 242, 94, 0.158);
}

.gallery-div picture img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.gallery-div picture {
    position: relative;
    width: 100%;
    height: auto;
  }

.gallery-div picture p {
    visibility: hidden;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 242, 94, 0.795);
    color: #000;
}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

/*css for form*/


.form-fieldset {
    margin: 2rem 0;
    border-radius: 10px;
    padding: .5rem 2%;
    border: 1px solid #C62B2B;
}



.form-label-top {
    display: block;
    padding-top: 1rem;
    font-size: 0.7rem;
    
}
.form-legend {
    color: #C62B2B;
    font-weight: bold;
}

.form-label-top-input, .form-label-top-select {
    -webkit-appearance: none;
    display: block;
    font-size: 0.7rem;
    border: solid 1px #C62B2B;
    border-radius: 5px;
    padding: .75rem;
    color: rgb(27, 27, 27);
    width: 85%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.096);
}

.form-label-sbs, .form-label-sbs-input {
    display: flex;
    padding: .7rem 0;
}

.submitBtn {
    border: none;
    background-color: #C62B2B;
    color: #FFF15E;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

.form {
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.form-label-top-input:invalid {
    border-left: red solid 6px;
}

.form-label-top-input:required:valid{
    border-left: green solid 6px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 0 auto;
    margin-right: 10px;
    margin-left: 10px;
}

.cards img {
    width: 100%;
    margin-top: 10px;
    box-shadow: 2px 2px 8px #121619;
    float: left;
  }

.cards section {
    border: 1px solid #C62B2B;
    background-color: rgba(255, 242, 94, 0.658);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
}

picture#hero img{
    width: 100%;
    max-height: 250px;
}

.cards em {
    font-weight: bold;
    font-style: italic;
    font-size: 0.6em;
    margin-top: 1px;
}
.cards p {
    margin: 0 auto;
}
.cards section h2 {
    margin-bottom: 1px;
}

.cards section div {
    margin: 0 auto;
}

  