  
@media only screen and (min-width: 60em) {
    header img {
		width: 60%;
	}

	.sec-company-info h1 {
		font-size: 2.7rem;
	}

	.motto {
		letter-spacing: 2pt;
		font-size: 1.7rem;
		margin-left: 11px;
    }

    h3 {
      font-size: 1.4em;
  }

    .main-nav {
		display: flex;
    }
    
	.main-nav li:first-child {
        font-size: 1.5rem;
        display: none;
    }
    
	.main-nav li {
		display: block;
		flex: 1 1 100%;
    }

    nav li a {
        font-size: 1.3rem;
    }

    .hero-weather-info {
      left: 50px;
      width: 30%;
    }

    #article-container, #contact {
      grid-template-columns: 1fr 1fr;
  }

  footer {
      font-size: 2em;
      width: 80%;
      margin: 0 auto;
  }    
}