  
@media only screen and (min-width: 60em) {

    .article img {
        width: 95%;
        padding: 0px;
        float: right;
    }
    
    .contact img {
        float: left;
        width: 400px;
        padding: 20px;
        margin: 0px;
    }
    
    footer {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
    
    #textLarge {
        display: flex;
        position: absolute;
        top: 40px;
        right: 40px;
        color: red;
        font-size: 2em;
    }
    
    #textMedium {
        display: none;
    }
    
    #grid {
        justify-content: center;
        align-content: center;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    
      
      #grid div img:hover {
        box-shadow: 0 0 0px black;
      }
    
      #center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-content: center;
        width: 100%;
    }
    
    
    
        
    }