body {
    font-family: 'Arial', sans-serif;
    background-color: aqua;
}
li

#wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: chocolate;
    padding: 33px;
}

header {
    background-color: peru;
    height: 4px;
}

header h1 {
    text-transform: uppercase;
    text-align: center;
    color: blueviolet;
    line-height: 50px;
}

header h2 {
    font-variant: small-caps;
    text-align: center;
    color: aliceblue
}

.main_menu {
    padding: 50 o 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: powderblue;
}

ul.main_menu {
    margin-top: 16px;
}

.main_menu li {
    display: table-column;
    padding:  0 11px 0 11px;
    font-size:  30px;

}

.main_menu a {
    text-decoration: none;
    color: brown;
    padding: 7px;
    font-variant: small-caps;
}

.main_menu a:hover {
    color: lightcoral;
   
}
