/* Tablet */
@media only screen and (min-width: 37.5em) {
    body {
        width: 90%;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;
    }

    main section:nth-child(1) {
        grid-column: span 2;
    }
    h1{
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.7em;
    }
    
    p, table, nav {
        font-size: 1.5em;
    }
}