@media only screen and (min-width: 37.5em) {
    
    header, main, footer {
        min-width: 2.5em;
    }
        
    header, footer {
        border-radius: 10px;
    }
    
    main {
        grid-template-columns: 1fr 1fr;
        padding: 15px;
       
    }
    
    article:nth-child(2) {
        display: block;
    }
    article:nth-child(3){
        grid-column: span 2;
    
    }
    
    main img{
        display: block;
    }
    
    h1 {
        font-size: 2.5rem;
        padding: 15px;
    }
        
    h2 {
        font-size: 1.5rem;
    }
    
    h3{
        font-size: 1.6rem;
    }
    
    img {
        margin-left: auto;
        margin-right: auto
    }
    }