@import url(ttps://fonts.google.com/specimen/Concert+One);
   
body {
    margin-top: 5px;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: #085314;
    color: #024059;
}


header, footer {
    background-color: #36768e;
    text-align: center;
    border: 4px solid #024059;
    max-width: 600px;
    margin: 0 auto;
   
   
}


   main {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    font-size: 0.8rem;
        
}

article:nth-child(3){
    grid-column: span 1;
}



#column1, #column2, #column3, .columnImage {
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
    
}


    

.columnImage {
    border-radius: 10px;
    background-color: #d4e6ee;
    margin: 0px;
    border: 1px solid #024059;

}

.columnImage p {
    display: block;
    font-size: 1.75rem;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    background-color: #d4e6ee;
    
}

.columnImage h2 {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px;
    padding: 5px;
    padding-bottom: 10px;
    text-align: center;
    height: 3rem;
}

.columnImage h3 {
    padding: 10px;
    font-weight: bold;
}

img { 
    height: auto;
    width: 70%; 
    border: 1px solid #024059;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;    
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);   
}

h1, h2, h3, h4, h5, h6 {
    font-family: fantasy;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    color: #024059;
    
}

h2 {
    font-size: 1.25rem;
    color: #36768e;
    padding: 0 0 10px 0;
    text-align: left;   
}

h3 {
    font-size: 1.23rem;
    color: #024059;
}

ul li a:link {
    color: #024059;
    text-decoration: none;
}

ul li a:visited {
    color: indigo;
}

ul li a:hover {
    color:  darkgoldenrod;
}
ul li a:active {
    color: khaki;
}

a:link {
    color: #024059;
    text-decoration: none;
}

a:visited {
    color: indigo;
}

a:hover {
    color:  darkgoldenrod;
}
a:active {
    color: khaki;
}

footer {
    padding: 5px;
    
    font-size: 16px;
  
}
#copyright {
    color:#f1f5f7;
    font-size: 16px;
}
#currentDate {
    color: #f1f5f7;
}
