@import url(https://fonts.google.com/specimen/Mansalva?selection.family=Mansalva);
   
body {
    margin-top: 6px;
    font-size: 1.3em;
    font-family: fantasy;
    padding: 0;
    background-color: #a7440b;
    color: #02151d;
}



header, footer {
    background-color: #2216cc;
    text-align: center;
    border: 1px solid #01141b;
    max-width: 200px;
    margin: 0 auto;  
}

main {
    max-width: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    font-size: 1rem;
        
}

article:nth-child(3){
    grid-column: span 1;
}



#column1, #column2, #column3, .columnImage {
    display: inline-block;
    padding-bottom: 3px;
    text-align: center;
    
}


    

.columnImage {
    border-radius: 3px;
    background-color: #d4e6ee;
    margin: 0px;
    border: 0.3px solid #024059;

}

.columnImage p {
    display: block;
    font-size: 3.60rem;
    text-align: center;
    border-radius: 3px;
    padding: 2px;
    background-color: #d4e6ee;
    
}

.columnImage h2 {
    background-color: white;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    margin: 0px;
    padding: 2px;
    padding-bottom: 3px;
    text-align: center;
    height: 3.1rem;
}

.columnImage h3 {
    padding: 2px;
    font-weight: bold;
}

img { 
    height: auto;
    width: 100%; 
    border: 1px solid #6b5cc5;
    margin-top: 11px;
    margin-bottom: 11px;
    border-radius: 11px;    
      
}

h1, h2, h3, h4, h5, h6 {
    font-family: fantasy, serif;
    margin: 0;
}

h1 {
    font-size: 1.4rem;
    color: #03010e;
  
}

h2 {
    font-size: 1.3rem;
    color: #0c0427;
    padding: 0 0 5px 0;
    text-align: left;   
}

h3 {
    font-size: 1.4rem;
    color: #080413;
}

ul li a:link {
    color: #3728be;
    text-decoration: none;
}

ul li a:visited {
    color: indigo;
}

ul li a:hover {
    color:  darkgoldenrod;
}
ul li a:active {
    color: khaki;
}

a:link {
    color: #e7f1f5;
    text-decoration: none;
}

a:visited {
    color: indigo;
}

a:hover {
    color:  darkgoldenrod;
}
a:active {
    color: khaki;
}

    

footer {
    padding: 10px;
    font-size: 17px;
    line-height: 4px;
    color: #96360a;
}
#copyright {
    color:#d7d5df;
    font-size: 20px;
}
#currentDate {
    color: #e6ecf0;
}
