.contentbox {
    display: block;
    margin: 12px auto;
    border: 2px darkorange;
    padding: 17px;
    background-color: aqua;
    color: black;
    font-style: oblique;
}

# {
    box-sizing: border-box;
    line-height: 1.4em;
}

div {
    display: block;
}

body {
    font-size: 18px;
    font-family: fantasy;
}
html {
    color: peru;
}