.contentbox {
    display: flexbox;
    margin: 12px auto;
    border: 2px darkorange;
    padding: 17px;
    background-color: none;
    color: black;
    font-style: oblique;
    font-size: 22px;
}

#myHeader {
    background-color: aqua;
    color: black;
    padding: 38px;
    text-align: center;
}
.city {
    background-color: sandybrown;
    color: aliceblue;
    padding: 10px;
}
# {
    box-sizing: border-box;
    line-height: 1.4em;
}
main {
    font-size: 20px;
    text-align: center;
}

div {
    display: flexbox;
}

body {
    font-size: 18px;
    font-family: fantasy;
    text-align: center;
}
html {
    color: peru;
    
}
header {
    font-size: 22px;
    
}

img {
    position: left;
}