
@media only screen and (min-width: 60em) {
	.menu-ul {
		display: flex;
	}
	.menu-ul li:first-child {
		display: none;
	}
	.menu-ul li {
		display: block;
		flex: 1 1 100%;
	}
	.menu-ul li a {
		color: yellow;
    }
    footer, main {
        width: 80%;
	}
	.headings h1{
        font-size: 2.6em;
	}
	
	.headings h2 {
        font-size: 2.2em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    p, table, nav {
        font-size: 1.8em;
	}
	img {
		border-radius: 2px;    
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.5);
		margin: 2px;
		float: left;
}
}
ul {
	font-size: medium;
	font-display: center;
}