@media only screen and (min-width: 32.5em) {

    

    header,
    nav,
    main,
    footer {
        min-width: 32.5em;
    }

    header {
        border-radius: 10px 10px 0px 0px;
    }

    header img{
        min-width: 100px;
    }

    footer {
        border-radius: 0 0 10px 10px;
    }

    nav {
        border-radius: 0 0 10px 10px;
    }

    nav ul {
        flex-direction: row;
    }
  
    nav ul li a {
        white-space: nowrap;
    }

    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        border-radius: 10px;

    }


    .rowimage {
        width: 70%;
    }

    article:nth-child(2) {
        display: block;
    }

    
.herodiv {
    margin: 10px auto;
    position: relative;

.stats {
    position: absolute;
    top: 25px;
    left: 25px;
}

main h2 {
    margin: 10px;
}
 

    h1 {
        font-size: 1.75rem;
        white-space: nowrap;
      
    }

    h2 {
        font-size: 1.50rem;
        white-space: nowrap;
    }

    h3 {
        font-size: 1.25rem;
    }

}