@media only screen and (min-width: 55em) {

	main,
	footer {
			max-width: 767px;
	}

	heading h2 {
			font-size: 1.6rem;
	}

	.navigation a {
			font-size: 1.2rem;
			padding: 0.80rem;
	}

	.herodiv {
			margin: 12px auto;
			position: relative;
		   
	}

	.row1, .row2, .row3 {
			margin: 4px 0 0;
		}

		.rowimage {
			max-width: 500px;
		}

}