@media only screen and (min-width: 32.5em) {

    

    header,
    nav,
    main,
    footer {
        min-width: 31em;
    }

    header {
        border-radius: 10px 10px 0px 0px;
    }

    header img{
        min-width: 100px;
    }

    footer {
        border-radius: 0 0 10px 10px;
    }

    nav {
        border-radius: 0 0 10px 10px;
    }

    nav ul {
        flex-direction: row;
    }
  
    nav ul li a {
        white-space: nowrap;
    }

    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        border-radius: 10px;

    }


    .rowimage {
        width: 50%;
    }

    article:nth-child(2) {
        display: block;
    }

 

.herodiv {
    margin: 10px auto;
    position: relative;

.stats {
    position: absolute;
    top: 20px;
    left: 20px;
}

main h2 {
    margin: 11px;
}

    h1 {
        font-size: 1.74rem;
        white-space: nowrap;
   
    }

    h2 {
        font-size: 1.55rem;
        white-space: nowrap;
    }

    h3 {
        font-size: 1.29rem;
    }

