@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');



* {
    box-sizing: border-box;
    line-height: 1.1em;
}

 body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: #f1f5f7;
    color: #000;
    min-width: 360px;
}

header,
nav,
main,
footer {
    margin: 0 auto;     
}

header,
footer {
    background-color: #f3ed95;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    border: 1px solid #000;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 767px;
}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
    padding-top: 10px;
    padding-right: 15px;
}
    
    

header img{
    max-width: 75px;
    height: auto;
    padding-right: 20px;
}

header h2 {
    text-shadow: 2px 2px 2px #fff;
    font-size: 1rem;
}


nav {
    margin: 0 auto;
    background-color: #fafc95;
    text-align: center;
    border: 1px solid #000;
   
}

nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav ul li {
    flex: 1 1 100%;
    color: #f3f315;
    list-style-type: none;

}



nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
}

.navigation{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: .2rem auto;
    max-width: 767px;
}

.navigation li:first-child {
    display: block;
}

.navigation li{
    display: none;
}

.navigation a {
    display: block;
    padding: 0.25rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #f3f315;
    background-color: #3da5d9;
    font-weight: bold;
}

.responsive li{
    display: block;
}

.active {
    background-color: #3da5d9;
    color: #000;
}

main {
    font-size: 0.8rem;
    height: 100%;
}

main h2 { 
    color: #2364aa;
    padding: 10px 0;
}

.rowImage img {
    width: 100%
    
}

article {
    margin: 5px auto;
    padding: 10px;
    max-width: 1020px;
    height: 100%;
    border: 2px dotted #3da5d9;
    align-content: center;
    font-style: italic;
}
article .row1 {
    border: 0;
}

.row1, .row2, .row3 {
    margin: 5px 5px 0;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    background-color: #3da5d9;
    color: #f1f5f7;
    font-size: 1rem;
    box-align: right;
}

.stats div h2 {
    grid-column: span 2;
    }


hr {
    grid-column: span 2;   
    color: #f1f5f7;
    width: 90%;
}

.row2 {
    display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

h1 {
    display: block;
    font-size: 1.25rem;
    color: #2364aa;
    text-align: center;
    text-shadow: 2px 2px 4px #fff;
    white-space: nowrap;

}

h2 {
    font-size: 1.25rem;
    color: #2364aa;
    text-align: center;
}

h3 {
    font-size: 1rem;
    color: #2364aa;
}

ul li a:link {
    color: #fff;
    text-decoration: none;
}

ul li a:visited {
    color: #fff;
}

ul li a:hover {
    background-color:  #3da5d9;
    color: #f3f315;
   
}

a:link {
    text-decoration: none;
}

footer {
    padding: 5px;
    flex-direction: column;
    align-items: center;
    
    font-size: 14px;
    text-align: center;  
}

footer p{
    margin: 0;
}

body footer p:nth-child(1) {
    margin-top: 15px;
}

body footer p:nth-child(2) {
    margin-bottom: 15px;
}

#copyright {
    color: #f1f5f7;
    font-size: 14px;
}

#currentDate {
    color: #f1f5f7;
}