@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto|Share+Tech+Mono|Ubuntu&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', serif;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    color: #a50404;
    text-align: center;
}

main {
    background-color: #d8222b;
    width: 95%;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 10px 20px 0 rgba(31, 32, 65, 0.4);
    box-sizing: border-box;
}

.cards {  
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-content: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

section { 
    display: block;
    background-color: #39e7ad;  
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 10px 20px 0 rgba(255,200,87, 0.2);
}

section h2 {
    font-family: 'Ubuntu', serif;
    font-size: 1.6rem;
    color: #7c061a;
}

section p {
    color: #1f2041;
    font-size: 1rem;
}

img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    vertical-align: middle;
}

@media only screen and (min-width: 37.5em) {    
    .cards {   
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 60em) {
    .cards {  
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 
}