@import url('https://fonts.google.com/specimen/Ubuntu+Condensed');
body {
	background-color: #ffffff;
	padding: 0;
	margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;  
    width: 100%;
}

#friday-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #69630a;
    display: none;
}

#friday-banner p {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    color: #140b02;
}

header {
	background-color: #69630a;
	display: flex;
	align-items:center;
    justify-content:center;
    text-align: center;
}

header img {
	width: 70px;
    height: auto;
}

.sec-company-info {
	display: flex;
	flex-direction: column;
}

.sec-company-info h1 {
	font-size: 3rem;
    margin: 0 0 0 15px;
    color: #0e0701;
}

.motto {
	font-style: italic;
	letter-spacing: 1pt;
	color: #f3f0ed;
	margin: 8px 0;
	font-size: 2rem;
}

nav {
    font-family: fantasy;
    text-align: center;
    background-color: #805319;
    box-shadow: 0 5px 10px #69630a;
}

.main-nav li:first-child {
    display: block;
    background-color: #88451f;
    border: none;
    font-size: 3rem;
    padding: 10px;
}

.main-nav.responsive li:first-child a span.exit-button {
    font-size : xx-large;
}

.main-nav.responsive li:first-child a span.exit-button, .main-nav li:first-child a span.hamburger {
    display : inline;
}

.main-nav.responsive li:first-child a span.hamburger, .main-nav li:first-child a span.exit-button {
    display : none;
} 

.main-nav li {
	display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    display: block;
    color: #ffc857;
    text-align: center;
    padding: .8rem 2%;
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;   
    border-top: 1px solid rgba(255,255,255, 0.3)
}

nav ul li.active a {
    background-color: rgba(81, 119, 247, 0.877);
    color: #ffffff;
}

nav ul li a:hover {
    background-color: rgba(230, 208, 18, 0.849);
    color: rgba(255,255,255, 0.7);
    box-shadow: 5px 5px 5px #2b0b0b;
}

.main-nav li:first-child a {
    border-top: none;
    color: rgba(255,200,87, 0.3);;
}

.main-nav li:first-child a:hover {
    background-color: rgba(43,11,11, 0.6);
}

.responsive li {
	display: block;
}

header, nav {
    margin: 0 auto;
    width: 100%;
}

main {
    margin: 0 auto;
    width: 95%;
    padding: 5px;
    text-align: center;
    line-height: 1.5em;
}

#content-container {
    width: 85%;
    margin: 0 auto;
    background-color: #69630a;
    padding: 10px;
}


h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.3em;
}

h2 {
    font-size: 1.9em;
    color: #110801;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 span {
    color: #1b0202;
}

h3 {
    font-size: 2em;
    text-align: center;
}

.content-box {
    display: block;
    margin: 10px auto;
    padding: 15px;
    background-color: #bd630f;
    color: #fff6f2;
    border-radius: 5px;    
    box-shadow: 0 10px 20px 0 rgba(238, 190, 136, 0.6);
    font-size: 18px;
}

.hero-image {
    max-width: 100%;
    max-height: 100%;
    min-height: 250px;
}

.hero-container {    
    max-height: 100%;
    min-height: 250px;
    margin: 10px auto;
    position: relative;
}

.hero-container h3 {
    margin: 0;
    color: #ffffff;
}

.hero-weather-info {
	position: absolute;
	top: 20px;
    left: 10px;
	background: radial-gradient( #69630a,#69630a );
	border: 2px solid #bd630f;
	padding: 0.5rem;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 2);
    opacity: 0.9;
    width: 65%;
    font-size: 2rem;
}

hr {
    border: 2px solid #42290b;
}

.table-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
}

.table-grid > span {
    padding: 5px;
}

.head-content {
    text-align: right;
}

.head-value {
    text-align: left;
    color: #f8f3f1;
}

#article-container, #contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px; 
    justify-content:center;
    text-align: center;
}

.article, .contact-info {
    text-align: left;
    padding: 0 20px 20px 20px;
    background-color: #69630a;
    color: #f8f6f4;
    border-radius: 10px;
    box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 2); 
}

.img1 {
    width: 100%;
    height: auto;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 2);
    border-radius: 10px; 
}

.no-display {
    display: none;
}

.panel-wrapper {
    position: relative;
}

.btn {
    color: #4e2f10;
    background-color: rgb(160, 122, 20);
    border-radius: 0.8em;
    margin: 5% auto;
    padding: 6px;
    text-decoration: none;
    width: 100px;
    font-size:2em;
}
 
.article-show, .article-hide {
    position: absolute;
    bottom: -0.4em;
    z-index: 1000;
    text-align: center;
}
   
.article-hide {
    display: none;
}
 
.article-show:target {
    display: none;
}
  
.article-show:target ~ .article-hide {
    display: block;
}
  
.article-show:target ~ .panel p {
    max-height: 2000px;
}
  
.article-show:target ~ .fade {
    margin-top: 0;
}
  
.panel p {
    position: relative;
    margin: 10% auto;
    max-height: 200px;  
    overflow: hidden;
    transition: max-height .5s ease;
}
  
.fade {
    background: linear-gradient(to bottom, rgba(122, 125, 206, 0) 0rgb(115, 171, 235) 1, 75%);
    height: 70px;
    margin-top: 25px;
    position: relative;
}

.float {
    text-align: left;
}

.contact-detail {
    display: flex;
    align-items: center;
}

.contact-img, .social-media  {
    width: 23px;
    height: auto;
    padding-right: 5px;
}

footer {
    width: 100%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 2em;  
    line-height: 1.5em;
	background-color: #69630a;  
    color: #0c0600;
	display: flex;
    flex: 0 1 100%;
	align-items:center;
    justify-content:center;
    text-align: center;
}

footer a {
    color: #ebe8e3;
}